@import url(/styles/base.css);

@import url(/styles/account/header.css);
@import url(/styles/account/form.css);
@import url(/styles/account/soicalLogin.css);
@import url(/styles/account/footer.css);

@import url(/styles/account/accountTablet.css);
@import url(/styles/account/accountPhone.css);

body {
  padding: 4.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
