header {
  max-width: 1920px;
  width: 100%;
  padding: 10px 200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 100;

  background-color: var(--white);
}

.image-logo {
  width: 153px;
  flex-shrink: 0;

  cursor: pointer;
}

.btn-login {
  width: 128px;
  height: 48px;

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background-color: var(--blue);

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);

  cursor: pointer;
}
