/* 반응형 : 핸드폰 (모바일의 0.6배) */
@media screen and (max-width: 767px) {
  /* header */
  header {
    padding: 10px 72px;
  }

  .image-logo {
    width: 91px;
  }

  .btn-login {
    width: 55px;
    height: 24px;
    font-size: 12px;
  }

  /* banner */
  .home-top-banner {
    padding-top: 72px;
  }

  .banner-title,
  .section-title {
    font-size: 16px;
    line-height: 20px;
  }

  .image-top-banner {
    width: 268px;
    height: auto;
  }

  .banner-content {
    width: 128px;
  }

  .btn-explore {
    padding: 8px;
    margin-top: 10px;
    font-size: 12px;
  }

  .bottom-banner {
    padding-top: 60px;
  }

  .image-bottom-banner {
    width: 240px;
    height: auto;
  }

  /* section */
  .section-hot-item,
  .section-search,
  .section-register {
    width: 420px;
    height: 160px;
    margin: 49px 0;
    gap: 15px;
  }

  section img {
    width: 214px;
    height: 159px;
  }

  .section-badge {
    margin-bottom: 9px;
    font-size: 10px;
    line-height: 12px;
  }

  .section-content {
    margin-top: 12px;
    font-size: 12px;
    line-height: 15px;
  }

  /* footer */
  footer {
    padding: 19px 0 64px;
  }

  footer > div {
    padding: 0 72px;
  }

  .footer-company {
    font-size: 12px;
  }

  .footer-links {
    gap: 10px;
  }

  .footer-sns {
    gap: 5px;
  }

  .footer-links > a,
  .footer-links > a:visited {
    font-size: 12px;
  }

  .footer-sns img {
    width: 15px;
    height: 15px;
  }
}
