@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* header */
  header {
    padding: 0.625rem 1.5rem;
  }

  /* banner */
  .home-top-banner {
    padding-top: 5rem;
  }

  .home-top-banner > div {
    flex-direction: column;
  }

  .banner-content {
    width: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .banner-title,
  .section-title {
    white-space: nowrap;
    font-size: 2rem;
    line-height: 2rem;
  }

  .banner-title {
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.5rem;
  }

  .image-top-banner {
    width: 80%;
    height: auto;
    margin-top: 7rem;
  }

  .btn-explore {
    width: 15rem;
    margin: 0;
    padding: 0.625rem;
  }

  .bottom-banner {
    padding-top: 5rem;
  }

  .bottom-banner > div {
    flex-direction: column;
  }

  .image-bottom-banner {
    width: 80%;
    height: auto;
    margin-top: 7rem;
  }

  /* section */
  section {
    margin: 0;
    padding: 5rem 0;
    background-color: #fcfcfc;
  }

  .section-hot-item,
  .section-search,
  .section-register {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 1.5rem;

    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .section-search {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  section img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
  }

  .section-badge {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  .section-content {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /* footer */
  footer > div {
    padding: 0 7.5rem;
  }
}
