/* 반응형 : 타블릿 (PC의 0.6배) */
@media screen and (min-width: 768px) and (max-width: 1100px) {
  /* header */
  header {
    padding: 0.625rem 7.5rem;
  }

  .btn-login {
    width: 4.75rem;
    height: 2.5rem;
  }

  /* banner */
  .home-top-banner {
    padding-top: 7.5rem;
  }

  .banner-title,
  .section-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .image-top-banner {
    width: 27.9375rem;
    height: auto;
  }

  .banner-content {
    width: 13.375rem;
  }

  .btn-explore {
    padding: 0.625rem;
    margin-top: 0.625rem;
  }

  .bottom-banner {
    padding-top: 6.25rem;
  }

  .image-bottom-banner {
    width: 25rem;
    height: auto;
  }

  /* section */
  .section-hot-item,
  .section-search,
  .section-register {
    width: 37.5rem;
    height: 16.625rem;
    margin: 5.125rem 0;
    gap: 1.875rem;
  }

  section img {
    width: 22.375rem;
    height: 16.625rem;
  }

  .section-badge {
    margin-bottom: 0.4rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .section-content {
    margin-top: 0.875rem;
    font-size: 0.875rem;
    line-height: 1.1875rem;
  }

  /* footer */
  footer > div {
    padding: 0 7.5rem;
  }
}
