@import url(../styles/reset.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;

  font-family: "Pretendard";
}

* {
  transition: all 300ms ease-in-out;
}
